html{
  width: 100%;
  font-family: system-ui;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
}


.header {
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 80px;
  background-color: rgba(20, 20, 20, 0.95);
  /* background: linear-gradient(20deg, #000, rgb(150, 150, 150)); */
}

.header h1 {
  text-align: center;
  width: 150px;
  padding-left: 120px;
  padding-right: 50px;
  margin-right: 80px;
  font-size: 40px;
  color: rgba(190, 0, 0, 0.7);
  line-height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
  border-right: solid 1px white;
}

.header-logo {
  float: left;
}

.header-logo img {
  display: inline-block;
  margin: 15px 0;
  margin-left: 70px;
  padding-right: 40px;
  border-right: solid 1px rgb(100, 100, 100);
  height: 50px;
  width: 140px;
}

.menu-smartphone {
  display: none;
}

.header-logo a {
  color: rgba(190, 0, 0, 0.7);
  text-decoration: none;
}

.header-right a {
  text-align: center;
  display: block;
  height: 80px;
  width: 180px;
  color: white;
  text-decoration: none;
}

.header-container {
  width: 100%;
  height: 80px;
  border-bottom: solid 1px rgb(50, 50, 50);
}

.header-right ul {
  margin-left: 350px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 80px;
}

.header-right li{
  font-size: 20px;
  /* padding-right: 50px;
  padding-left: 50px; */
  line-height: 80px;
  list-style: none;
  color: white;
  float: left;
}

.header-right li:hover {
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.8);
}

.header-right li:active {
  transition: 0s;
  background-color: rgba(255, 255, 255, 0.4);
}

.header-menu-smartphone {
  display: none;
}

.member-wrapper {
  width: 100%;
  height: 1000px;
  background-color: black;
  margin-top: 80px;
}

.member-wrapper h1 {
  margin: 25px 0;
  font-size: 40px;
  text-align: center;
  color: white;
}

.member-heading {
  padding-top: 60px;
  padding-bottom: 40px;
}

.member-container {
  margin: 0 auto;
  width: 95%;
  height: 730px;
  background-color: rgb(20, 20, 20);
}

.member-contents {
  padding: 0px;
  width: 100%;
  height: 100%;
  float: left;
}

.member-content {
  float: left;
  height: 220px;
  width: calc(100%/3);
  text-align: center;
  list-style: none;
}

.member-content h2 {
  padding-top: 20px;
  margin-top: 0px;
}

.member-content h2, h3, p {
  color: white;
}

.content-container {
  border-bottom: solid 1px white;
  height: 100%;
  margin: 20px;
  padding-bottom: 0px;
}

.footer {
  border-top: solid 1px rgb(50, 50, 50);
}

.footer-container {
  background-color: black;
  height: 100px;
  padding-top: 5px;
  padding-left: 50px;
}

.footer-container h2 {
  margin: 0px;
  font-size: 35px;
  color: rgb(190, 0, 0);
  float: left;
}

.footer-logo {
  float: left;
  width: 140px;
  height: 50px;
}

.footer-logo img {
  display: block;
  margin-top: 20px;
  margin-left: 10px;
  height: 50px;
  width: 140px;
}

.footer-logo a {
  display: block;
  margin-top: 20px;
  margin-left: 10px;
  width: 140px;
  height: 50px;
}

.phone {
  margin-top: 70px;
  margin-left: 20px;
}

.phone p {
  font-size: 15px;
  color: rgb(100, 100, 100);
  margin: 0px;
}

.phone a {
  color: rgb(100, 100, 100);
  text-decoration: none;
}
